:root {
  --primaryColor: #001f3f;
  --secondaryColor: #b0b0b0;
  --hoverColor: #ff4136;
  --whiteColor: #ffffff;
  --blackColor: #111111;
}

.dealershipDiv {
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

  .dealershipArticle {
    flex-direction: column;
    padding: 5px;
    gap: 15px;

    img {
      width: 150px; // Set the desired fixed width
      height: 150px; // Set the desired fixed height
      object-fit: cover; // Stretch the image to fit the fixed size
    }

    .dealershipTitle {
      font-weight: 500;
    }
    .dealershipContact a {
      text-decoration: none;
      color: var(--whiteColor);
      background-color: var(--primaryColor);
      padding: 8px;
      width: 100%;
    }
  }
}

@media screen and (min-width: 770px) {
  .dealers {
    .secTitle {
      font-size: 30px;
    }
  }

  .dealershipDiv {
    .dealershipArticle {
      padding: 25px;
      img {
        width: 200px;
        height: 150px;
      }
      .dealershipTitle {
        font-size: 20px;
      }
      .dealershipContact {
        .contactNumber {
          font-size: 18px;
        }
        .callIcon {
          font-size: 28px;
        }
      }
    }
  }
}

@media screen and (min-width: 996px) {
  .dealershipDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    justify-self: center;
    .dealershipArticle {
      width: 50%;
      img {
        width: 170px;
        height: 150px;
      }
    }
  }
}

@media screen and (min-width: 1366px) {
  .dealers {
    padding: 0;
    .secTitle {
      font-size: 40px;
      padding-top: 50px;
    }
  }

  .dealershipDiv {
    padding-top: 50px;
    .dealershipArticle {
      padding-top: 25px;
      img {
        width: 300px;
        height: 250px;
      }
      .dealershipTitle {
        font-size: 20px;
      }
      .dealershipContact {
        .contactNumber {
          font-size: 18px;
        }
        .callIcon {
          font-size: 28px;
        }
      }
    }
  }
}
