:root {
  --primaryColor: #001f3f;
  --secondaryColor: #b0b0b0;
  --hoverColor: #ff4136;
  --whiteColor: #ffffff;
  --blackColor: #111111;
}

.home {
  padding-top: 8rem;
  background-color: var(--whiteColor);
}

.secContainer {
  padding: 0 1.5rem;
  text-align: center;
  display: grid;
  gap: 2rem;

  .homeText {
    .homeSpan {
      color: var(--textColor);
      font-weight: 400;
      font-size: 15px;
    }

    .homeTitle {
      font-size: 30px;
      color: var(--blackColor);
      font-weight: 700;
    }

    .btnContainer {
      gap: 1.5rem;
      justify-content: center;
    }

    .btn {
      padding: 10px 15px;
      border-radius: 3px;
      font-weight: 600;
      margin-top: 0.5rem;
      justify-content: center;
      font-size: 12px;
    }
  }
  .homeImage {
    margin: auto;
  }
}

// Making the website responsive using media queries
@media screen and (min-width: 520px) {
  .home {
    .secContainer {
      .homeText {
        .homeSpan {
          font-size: 18px;
        }

        .homeTitle {
          font-size: 35px;
        }

        .btn {
          font-size: 14px;
        }
      }
    }
    .homeImage {
      max-width: 85%;
    }
  }
}

@media screen and (min-width: 770px) {
  .home {
    padding-top: 10rem;
    .secContainer {
      gap: 2.5rem;
      .homeText {
        .homeSpan {
          font-size: 21px;
        }

        .homeTitle {
          font-size: 45px;
        }

        .btn {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 996px) {
  .home {
    padding-top: 12rem;
    .secContainer {
      gap: 3rem;
      .homeText {
        .homeSpan {
          font-size: 25px;
        }

        .homeTitle {
          font-size: 55px;
        }

        .btn {
          font-size: 16px;
          padding: 1rem 2rem;
        }
      }
    }
  }
}
