:root {
  --primaryColor: #001f3f;
  --secondaryColor: #b0b0b0;
  --hoverColor: #ff4136;
  --whiteColor: #ffffff;
  --blackColor: #111111;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 6px rgb(237, 237, 237);
  z-index: 1000;
  border-bottom: 1px solid var(--secondaryColor);
  background-color: var(--whiteColor);

  .logoDiv {
    .logo {
      width: 60px;
    }
  }
  @media screen and (max-width: 768px) {
    .navbar {
      position: absolute;
      background: var(--primaryColor);
      width: 101%;
      height: 100vh;
      top: 100vh;
      right: 50%;
      left: 50%;
      transform: translate(-50%);
      border-radius: 0px;
      text-align: center;
      padding: 0rem;
      transition: 0.3s ease;
      z-index: 2000;

      .closeIcon {
        position: absolute;
        bottom: 10rem;
        right: 50%;
        left: 50%;
        transform: translate(-50%);
        background: var(--whiteColor);
        color: var(--hoverColor);
        padding: 3px;
        border-radius: 50%;
        font-size: 40px;

        &:hover {
          background: var(--hoverColor);
          color: var(--whiteColor);
        }
      }
      .menu {
        display: flex;
        align-items: center;
        flex-direction: column;

        .listItem {
          padding-top: 1rem;
          padding-bottom: 1rem;
          width: 100%;
          border-radius: 0px;
          cursor: pointer;

          a {
            font-size: 15px;
            color: var(--hoverColor);
          }
          &:hover {
            background: var(--hoverColor);
            color: var(--whiteColor);
            transition: 0.3s ease;
          }
          &:hover a {
            color: var(--whiteColor);
          }

          .link {
            display: flex;
            align-self: flex-start;
            margin-left: 2rem;
          }
        }
      }
    }
  }
  .signIn {
    gap: 0.5rem;
    .text {
      padding: 3px 10px;
      background: var(--primaryColor);
      border-radius: 3px;
      color: var(--whiteColor);
      cursor: pointer;
      font-size: 14px;

      &:hover {
        background: var(--secondaryColor);
        color: var(--primaryColor);
      }
    }
    .openIcon {
      background: none;
      color: var(--primaryColor);
      font-weight: 600;
      font-size: 25px;
    }
  }
  .showNavbar {
    top: 5.6rem;
    transition: 0.5s ease;
  }
}

.blendIn {
  box-shadow: none;
}

// Making the website responsive using media queries
@media screen and (min-width: 520px) {
  .header {
    .logoDiv {
      img {
        width: 30px;
      }
    }
    .signIn {
      .text {
        padding: 6px;
        font-size: 16px;
      }
      .openIcon {
        font-size: 30px;
      }
    }
  }
}

@media screen and (min-width: 770px) {
  .header {
    .navbar {
      .closeIcon {
        display: none;
      }
      .menu {
        display: flex;
        flex-direction: row;

        .listItem {
          padding: 0.3rem 1rem;
          border-radius: 3px;

          a {
            color: var(--primaryColor);
            font-size: 15px;
          }
          &:hover {
            background: var(--primaryColor);
            color: var(--whiteColor);
            transition: 0.3s ease;
          }

          &:hover a {
            color: var(--whiteColor);
          }
        }
      }
    }
    .signIn {
      .text {
        padding: 6px 10px;
      }
      .openIcon {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1064px) {
  .header {
    padding: 2rem 7rem;
    .navbar {
      .menu {
        .listItem {
          a {
            font-size: 17px;
          }
        }
      }
    }
    .signIn {
      .text {
        font-size: 18px;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .header {
    .navbar {
      .menu {
        .listItem {
          margin: 0 0.8rem;
        }
      }
    }
    .signIn {
      .text {
        font-size: 18px;
      }
    }
  }
}
